* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ccc;
    padding: 10px;
    /* height: 1500px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item {
    background-color: #f1425d;
    padding: 30px;
    margin: 30px;
    color: #fff;
    font-size: 40px;
}

.i2 {
    height: 200px;
    flex: 0 1 300px;
}

.i3 {
    order: 1;
    flex: 1;
}

.i4 {
    align-self: flex-end;
    order: -1;
}
